.l-header {
  background: $white;
  &Menu {
    display: flex;
    position: relative;
    justify-content: center;
    list-style: none;
  }
  &Title_list {
    display: flex;
    text-align: center;
  }
  &Title_link {
    text-decoration: none;
    color: $cobaltBlue;
  }
  &Menu_link {
    text-decoration: none;
    padding: 0 20px;
    color: $cyan;
  }
}