.l-header {
  display: flex;
  height: 60px;
  box-shadow: 0 1px 1px 1px #ccc;
  justify-content: flex-end;
  background-color: $white;
  padding: 0 16px;
  align-items: center;
  color: $cobaltBlue;
  &Title {
    &_img {
      width: 100px;
    }
    &_header {
      font-size: 21px;
      margin: 0;
      margin-right: auto;
    }
    &_link {
      text-decoration: none;
      color: $cyan;
    }
  }
  &Menu {
    display: flex;
    list-style: none;
    &_list {
      margin-right: 16px;
    }
    &_link {
      text-decoration: none;
      color: $cyan;
    }
  }
}