.l-header {
  background: #fff;
}

.l-headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.l-headerTitle_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.l-headerTitle_link {
  text-decoration: none;
  color: #0068b7;
}

.l-headerMenu_link {
  text-decoration: none;
  padding: 0 20px;
  color: #00a1e9;
}

