body {
  margin: 0;
  padding: 0;
}

.l-header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.l-headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style: none;
}

.l-headerMenu_link {
  text-decoration: none;
  padding: 0 20px;
  color: #00a1e9;
}

.l-footer {
  width: 100%;
  height: 100px;
  background-color: #0068b7;
}

.l-footerCopyright {
  text-align: center;
  line-height: 100px;
  color: #fff;
}

.c-catchphrase {
  height: 400px;
  background-color: #0068b7;
}

.c-catchphrase_text {
  margin: 0;
  width: 100%;
  line-height: 370px;
  letter-spacing: 10px;
  font-size: 80px;
  text-align: center;
  color: #fff;
}

