.c-lists {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  text-align: center;
  padding-left: 0;
}

.c-list_bookImgWrapper {
  width: 100px;
  height: 150px;
  overflow: hidden;
}

.c-list_bookImg {
  width: 100%;
}

.c-list_bookName {
  width: 100px;
  height: 55px;
  overflow: hidden;
  word-wrap: break-word;
}