.c-catchphrase {
  height: 400px;
  background-color: $cobaltBlue;
  &_text {
    margin: 0;
    width: 100%;
    line-height: 370px;
    letter-spacing: 10px;
    font-size: 80px;
    text-align: center;
    color: $white;
  }
}

.c-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.c-title {
  text-align: center;
}

.c-lists_wrapper {
  max-width: 1024px;
  width: 100%;
  border-radius: 4px;
  background-color: $frostyBlue;
}

.c-lists {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.c-btn {
  border: 0;
  border-radius: 4px;
  color: $white;
}