body {
  background-color: $snowWhite;
}

.c-catchphrase {
  height: 400px;
  background-color: $cobaltBlue;
  &_text {
    margin: 0;
    width: 100%;
    line-height: 370px;
    letter-spacing: 10px;
    font-size: 80px;
    text-align: center;
    color: $white;
  }
}

.c-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.c-lists_wrapper {
  max-width: 1024px;
  width: 100%;
  border-radius: 4px;
  background-color: $white;
}

.c-title {
  padding-left: 5px;
  text-align: left;
  color: $charcoalGray;
  border-bottom: 2px solid $cobaltBlue;
}

.c-lists {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  text-align: center;
  color: $charcoalGray;
}

.c-list_bookImgWrapper {
  width: 100px;
  height: 150px;
  overflow: hidden;
}

.c-list_bookImg {
  width: 100%;
}

.c-list_bookName {
  width: 100px;
  height: 55px;
  overflow: hidden;
  word-wrap: break-word;
}

@mixin btn {
  border: 1px solid $cobaltBlue;
  border-radius: 4px;
  background-color: $white;
  padding: 4px 7px;
  color: $blue;
  cursor: pointer;
}

.c-btn_detail {
  @include btn;
}

.c-btn_edit {
  @include btn;
}

.c-btn_create {
  @include btn;
  display: block;
  width: 150px;
  font-size: 16px;
}

.c-paginate {
  & > ul {
    list-style: none;
    & > li {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 1px solid $cobaltBlue;
      border-radius: 4px;
      line-height: 40px;
      text-align: center;
      &.disabled {
        color: $charcoalGray;
      }
      &.active {
        background-color: $cobaltBlue;
        color: $white;
      }
      & > a {
        display: inline-block;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

@mixin inputs {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid $ashGray;
  border-radius: 4px;
  padding-left: 5px;
  color: $charcoalGray;
}

.c-textBox {
  @include inputs;
}

.c-number {
  @include inputs;
}

.c-date {
  @include inputs;
}

.c-textArea {
  @include inputs;
  height: 200px;
  padding-top: 5px;
  resize: none;
}

.c-file {
  width: 300px;
  height: 30px;
  padding-left: 5px;
}

.c-radioWrapper {
  display: inline-block;
  width: 300px;
  height: 30px;
  padding-left: 5px;
  text-align: left;
}

.c-label {
  display: inline-block;
  width: 80px;
}

.c-link {
  display: block;
  text-align: right;
  text-decoration: none;
  color: $cyan;
}

.c-required {
  font-size: 20px;
  color: $red;
}