.u-contents {
  text-align: center;
}

.u-content_left {
  float: left;
}

.u-contents_private {
  min-height: 600px;
}

.u-contents_public {
  min-height: 600px;
}

.u-contents_isbn {
  @extend .u-contents;
  min-height: 600px;
}

.u-contents_mypage {
  @extend .u-contents;
  min-height: 600px;
}

.u-contents_signin {
  @extend .u-contents;
  min-height: 600px;
}

.u-contents_signup {
  @extend .u-contents;
  min-height: 600px;
}

.u-contents_email {
  @extend .u-contents;
  min-height: 600px;
}