.u-paginate {
  text-align: center;
}

.u-btn_detail {
  margin-bottom: 5px;
}

.u-lists_wrapper {
  text-align: center;
}

.u-btn_create {
  display: block;
  margin: 0 auto;
}

.u-list_bookName {
  margin-bottom: 5px;
}