.u-paginate {
  text-align: center;
}

.u-contents {
  text-align: center;
}

.u-btn_small {
  margin-bottom: 5px;
}

.u-btn_large {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.u-btn_signin {
  @extend .u-btn_large;
  margin-bottom: 10px;
}

.u-list_bookName {
  margin-bottom: 5px;
}

.u-lists_wrapper {
  margin-bottom: 30px;
}

.u-link {
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.u-content_left {
  float: left;
}

.u-btn_sns {
  margin-bottom: 10px;
}